[credential "https://gitlab.com"]
	helper = 
	helper = !/home/igor/go/bin/glab auth git-credential
[user]
	email = igor.rodrigues@placeti.com.br
	name = igor.rodrigues
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
